footer {
    margin: 0;
    padding: 0;
}

.footer-nav {
    position: relative;
    height: 306px;
    background-color: #F1EAE4;
}

.footer-logo {
    position: absolute;
    top: 35%;
    width: 30%;
}

.footer-logo h1 {
    position: relative;
    width: 100%;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center;

    color: #3D281B;
}

.footer-logo h2 {
    position: absolute;
    width: 100%;
    /* margin-top: 167px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #3D281B;
}

.footer-nav-items {
    position: absolute;
    right: 0;
    top: 45%;
    height: 24px;
    width: 70%;
}

.footer-nav-items a {
    float: left;
    width: 20%;
    height: 24px;
    right: 0;

    padding-top: 2px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #3D281B;
}

.footer-nav-items a:hover {
    background-color: #DAD3CD;
    border-radius: 6px;
}

.footer-copyright {
    position: relative;
    height: 93px;
}

.footer-copyright p {
    position: absolute;
    width: 100%;
    margin-top: 36px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #F1EAE4;
}